ContentW {

    background-color: #0F0F10;

	border-bottom-left-radius:10px;
	border-bottom-right-radius: 10px;
}
ContentW QLabel#m_label{

    border: none;
	font-family: "Microsoft YaHei UI";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	min-width: 50px;
	max-width: 100px;
	color: #FFFFFF;
	background-color: transparent;
}